.customer-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customer-tittle {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--tittle-text-color);
}

.customer-list {
  display: flex;
  justify-content: center;
}
.customer-list-link {
  display: flex;
   justify-content: center;
   align-items: center;
 
   width: 170px;
  height: 92px;

  border: 1px solid #AFB1B8;
border-radius: 4px;
}
.customer-list-item:not(:last-child) {
  margin-right: 30px;